*{
    margin: 0;
    padding: 0;
}
header{
        width: 85%;
        margin: 20px auto;
}

/*Banner section starts*/
.banner{
    background-image: url('../images/Banner-Image.png');
    background-repeat: no-repeat;
    height: 600px;
    width: 1280px;
    background-position: center;
    color:aliceblue;
text-align: center;
box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
border-radius: 15px;
}
.banner h4{
    padding: 180px 180px 10px;
    font-size:30px;
    color: white;
}
.banner h1{
    padding:10px 350px 200px;
    font-size: 60px;
    color: white;
}

/*Sale section starts*/
.sale{
    text-align: center;
    margin: 120px 0px 0px;
}
.sale h1{
    font-size: 70px;
    color: red;
    padding: 0px 0px 20px;
}
.sale p{
    font-size: 16px;
    color: red;
    padding: 0px 0px 10px;
}
.sale h3{
    font-size: 30px;
    padding: 0px 0px 20px;
}
.sale img{
    width: 700px;
}

